.hero {
  height: 60vh;
  background-image: url('../assets/Black-mat_6.jpg'); /* put image in public/ */
  background-size: cover;
  background-position: center;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
